@model OrderWithAddressModel

@{
    ViewBag.Title = "Редакция";
    SelectList list = (SelectList)ViewBag.Users;
}

<h2>Редакция</h2>

@using (Html.BeginForm("Edit", "Orders", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.HiddenFor(x => x.OrderId)
        <h4>Поръчка</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Изберете потребител", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("userId", list, new { @class = "form-control", onchange = "callBack()" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddressId, "Адрес", new { @class = "control-label col-md-2" })
            @Html.HiddenFor(x => x.AddressId)
            <div class="col-md-10" id="addressContent">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, "Статус", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, "Коментар", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Запази" class="btn-lg btn-info" />
            </div>
        </div>
    </div>
}

<script>
    function callBack() {
        var id = $('#userId').val();
        var selected = $('#AddressId').val();
        $.ajax({
            type: 'Get',
            url: '@Url.Action("Index", "ApplicationUserAddresses")',
            dataType: 'html',
            data: { "userId": id, "selectedId": selected },
            success: function (data) {
                $('#addressContent').html(data);
            }
        });
    }
    $(function () {
        callBack();
    })
</script>
<div>
    @Html.ActionLink("Назад към таблицата", "Index", null, new { @class = "btn btn-default" })
</div>
