@model GenderCategoryWithPicModel

@{
    ViewBag.Title = "Редакция";
}

<h2>Редакция</h2>

@using (Html.BeginForm("Edit", "GenderCategories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Model.CategoryName за @Model.GenderName</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CategoryId)
        @Html.HiddenFor(model => model.GenderId)
        <div class="form-group">
            @Html.Label("Снимка", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            @if (!string.IsNullOrEmpty(Model.PicPath))
                            {
                                @Html.Image(Url.Content(Model.PicPath), new { @class = "img-responsive", height = 100 })
                            }
                            else
                            {
                                @Html.Label("Няма картинка", new { @class = "form-control" })
                            }
                        </a>
                    </div>
                </div>
                <input type="file" class="form-control" name="PostedFile" id="photo" value="Смени картинка" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn-lg btn-info" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Назад към таблицата", "Index",null, new { @class = "btn btn-default" })
</div>
