@{
    ViewBag.Title = "Home Page";
    var list = new List<SelectListItem>()
    {
        new SelectListItem() { Value = "1", Text = "Ден" },
        new SelectListItem() { Value = "7", Text = "Седмица", Selected = true},
        new SelectListItem() { Value = "30", Text = "Месец" },
        new SelectListItem() { Value = "365", Text = "Година" },
    };
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Табло</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" id="orderStatus">
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Графика на поръчките
                <div class="pull-right">
                    <div class="btn-group">
                        @Html.DropDownList("Period", list, new { @class = "btn btn-default btn-xs dropdown-toggle", onchange="CallBack()"})
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-area-chart-orders"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Продажби по продукти
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <!-- /.col-lg-4 (nested) -->
                    <div class="col-lg-8">
                        <div id="morris-bar-chart-products"></div>
                    </div>
                    <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">        
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Поръчки по градове
            </div>
            <div class="panel-body">
                <div id="morris-donut-chart-addresses"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Известия
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" id="notifications">
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>
<script>
    var CallBack;
    $(function () {
        var chart = Morris.Area({
            element: 'morris-area-chart-orders',
            xkey: 'Period',
            ykeys: ['DeliveredCount', 'RejectedCount', 'AcceptedCount', 'PendingCount'],
            labels: ['Завършени поръчки', 'Отказани поръчки', 'Приети поръчки', 'Чакащи поръчки'],
            pointSize: 2,
            hideHover: 'auto',
            resize: true
        });
        CallBack = function () {
            $.ajax({
                type: "GET",
                dataType: 'json',
                url: "@Url.Action("OrderData","Home")",
                data: { "range": $("#Period").val() },
                success: function (data) {
                    chart.setData(data);
                },
                error: function (error) {
                    // If there is no communication between the server, show an error
                    console.log(error);
                }
            });
        }

        var bar = Morris.Bar({
            element: 'morris-bar-chart-products',
            data: [{
                Product: "",
                ThisMonth: 0,
                PreviousMonth: 0
            }],
            xkey: 'Product',
            ykeys: ['ThisMonth', 'PreviousMonth'],
            labels: ['Този месец', 'Предишен месец'],
            hideHover: 'auto',
            resize: true
        });

        var donut = Morris.Donut({
            element: 'morris-donut-chart-addresses',
            data: [{ label: "", value: "" }],
            resize: true,
            formatter: function (y) {
                return y + " лева"
            }
        });

        window.setInterval(function RefreshPartial() {
            $.ajax({
                type: "GET",
                dataType: "html",
                url: "@Url.Action("Notifications","Home")",
                success: function (data) {
                    $('#notifications').html(data);
                },
                error: function (error) {
                    $('#notifications').html(error);
                }
            });
            $.ajax({
                type: "GET",
                dataType: "html",
                url: "@Url.Action("OrderStatus", "Home")",
                success: function (data) {
                    $('#orderStatus').html(data);
                },
                error: function (error) {
                    $('#orderStatus').html(error);
                }
            });
            $.ajax({
                type: "GET",
                dataType: 'json',
                url: "@Url.Action("ProductsData","Home")",
                success: function (data) {
                    bar.setData(data);
                },
                error: function (error) {
                    // If there is no communication between the server, show an error
                    console.log(error);
                }
            });
            $.ajax({
                type: "GET",
                dataType:'json',
                url: "@Url.Action("OrderAddresses", "Home")",
                success: function(data) {
                    donut.setData(data)
                },
                error: function (error) {
                    console.log(error);
                }
            });
            CallBack();
        }, 3000);
    });
</script>
<script src="@Url.Content("~/Scripts/morris-data.js")"></script>